{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block title %}Pade d'administration{% endblock %}
{% block body %}
<h1>Page d'administration</h1>
    <table class="table">
        <thead>
            
        </thead>
        <tbody>
            <tr>
                <th>Page d'accès aux Users</th>
                <td><a href="{{ path('app_user_index') }}">Accès aux User </a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Equipes</th>
                <td><a href="{{ path('app_team_index') }}">Accès aux team</a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Postes</th>
                <td><a href="{{ path('app_poste_index') }}">Accès aux Poste </a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Adhérents</th>
                <td><a href="{{ path('app_adherent_index') }}">Accès au Adherent </a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Conctactes</th>
                <td><a href="{{ path('app_contact_index') }}">Accès au Contact </a></td>
            </tr>
    
{% endblock %}
