{% extends 'base.html.twig' %}


{% block title %}JVB - Pade d'administration{% endblock %}
{% block body %}
<h1>Page d'administration</h1>
    <table class="table">
        <thead>
            

        </thead>
        <tbody>
            <tr>
                <th>Page d'accès aux Users</th>
                <td><a href="{{ path('app_user_index') }}">Accès à l'index User </a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Equipes</th>
                <td><a href="{{ path('app_team_index') }}">Accès à l'index Team</a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Postes</th>
                <td><a href="{{ path('app_poste_index') }}">Accès à l'index Poste </a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Adhérents</th>
                <td><a href="{{ path('app_adherent_index') }}">Accès à l'index Adherent </a></td>
            </tr>
            <tr>
                <th>Page d'accès aux Conctacts</th>
                <td><a href="{{ path('app_contact_index') }}">Accès à l'index Contact </a></td>
            </tr>
    
{% endblock %}
