{% extends 'base.html.twig' %}

{% block title %}JVB - Page d'accueil{% endblock %}

{% block body %}
    <h2 class="titre" align = "center"> Présentation du Club JVB : </h2>
    <span style = "color : #0053a1;"
    <strong> LE JVB EN QUELQUES CHIFFRES </strong>
    </span>
    <p>
        6e club Fédéral de la Région Centre-Val de Loire et 2e de l’Indre et Loire sur la saison 2021-2022.
        Le Joué Volley Ball avec sa double affiliation FFVolley et Ufolep, 
        est un acteur majeur du volley-ball régional et départemental qui peut accueillir tous les niveaux et tous les âges.
    </p>
    </p>
        Avec plus de 230 licenciés en 2021-2022 : du baby volley à la Pré-Nationale féminine et du loisir avec 3 équipes,
         2 salariés en CDI, des éducateurs diplômés d’État et des bénévoles possédants des brevets fédéraux, 
         le club a pour ambition de retrouver son niveau et de faire de nouveau projet sportif côté masculin.
        <br>
        <br>
    </p>
    <table>
    <tbody>
        <tr>
            <td><img  src={{asset('imageSite/Jvb.png')}}  width="230" height="230"/></td>
        <td>
            <span style = "color : #0053a1;"
            <p> LE PALMARES DU JVB </p>
            </span>

        <p>
        1 Titre de Champion de France de Nationale masculin en 2001 <br>
        4 Titres de Champion Régionale Senior Féminine en 2002, 2005, 2008 et 2009 <br>
        Titre de Vice Champion Régionale Senior Féminine en 2013,2018 <br>
        Label accueil de jeunes en 2012 <br>
        Label Club Formateur en 2013 <br>
        Label Club Formateur Futur pour la saison 2014/2015 <br>
        12 ans de maintien en Nationale 3 féminine depuis 2003
        </p>
        </td>
        <td>
        <img  src={{asset('imageSite/PageAcc.jpeg')}}  width="360   " height="230"/>
        </td>
        </tr>
        



    <h3 class = "titre"> Les articles du JVB... </h3>
    <table class="table">
        <tbody>
            <tr>
                <td align = "center"> <a href="http://www.jouevolleyball.fr/index.php/2022/11/02/tournoi-dhalloween-2022/"> TOURNOI D’HALLOWEEN 2022 </a> </td>
                <td align = "center"> <a href="http://127.0.0.1:8000/register"> INSCRIPTION EN LIGNE </a> </td>
            
            <tr>
            <tr>
                
                <td>
                    <a href="http://www.jouevolleyball.fr/index.php/2022/11/02/tournoi-dhalloween-2022/">
                    <img  src={{asset('imageSite/PremiereImageHome.jpg')}}  width="500" height="400"/> 
                </td>
                <td>
                    <a href="http://127.0.0.1:8000/register">
                    <img  src={{asset('imageSite/INscription.jpg')}}  width="500" height="400"/>
                </td>
            </tr>   
            <tr>
                <td align = "center"> <a href="http://www.jouevolleyball.fr/index.php/2022/05/19/pourquoi-attendre-septembre/"> POURQUOI ATTENDRE SEPTEMBRE? </a> </td>
                <td align = "center"> <a href="http://www.jouevolleyball.fr/index.php/2022/01/03/new-calendrier-2022/"> NEW – CALENDRIER 2022 </a> </td>

            </tr>

            <tr>
                <td>
                    <a href="http://www.jouevolleyball.fr/index.php/2022/05/19/pourquoi-attendre-septembre/">
                    <img  src={{asset('imageSite/SeanceEssaie.jpg')}}  width="500" height="400"/> 
                </td>
                <td>
                    <a href="http://www.jouevolleyball.fr/index.php/2022/01/03/new-calendrier-2022/">
                    <img  src={{asset('imageSite/Calendrier.jpg')}}  width="500" height="400"/> 
                </td>
            </tr>

            

            
      {#  {% for home in homes %}
            <tr>
                <td>{{ home.id }}</td>
                <td>
                    <a href="{{ path('app_home_show', {'id': home.id}) }}">show</a>
                    <a href="{{ path('app_home_edit', {'id': home.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Erreur</td>
            </tr>
        {% endfor %} #}
        </tbody>

        <style>
            .titre
            {color : darkred}
        </style>
    

{% endblock %}
