{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Joué Volley Ball</h1>
    <h2> Les articles :</h2>
    <table class="table">
        <tbody>
            <tr>
            <div class="">
                <tr>
                 <a href="http://www.jouevolleyball.fr/index.php/2022/11/02/tournoi-dhalloween-2022/">
                <img src={{asset('imageSite/PremiereImageHome.jpg')}} alt=" TestFailed " width="400" height="240" />
                </div>
                <div class="">
                </tr>
                <tr>
                 <a href="http://127.0.0.1:8000/register">
                <img src={{asset('imageSite/INscription.jpg')}} alt=" TestFailed " width="400" height="240" />
                </div>
                </a>
                </tr>
                </div>
                </a>
            </tr>
        </tbody>
    </table>
            
      {#  {% for home in homes %}
            <tr>
                <td>{{ home.id }}</td>
                <td>
                    <a href="{{ path('app_home_show', {'id': home.id}) }}">show</a>
                    <a href="{{ path('app_home_edit', {'id': home.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Erreur</td>
            </tr>
        {% endfor %} #}
        </tbody>
    

{% endblock %}
