{% extends 'base.html.twig' %}

{% block title %}Index des adherents{% endblock %}

{% block body %}
    <h1>Index des adherents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Poste</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adherent in adherents %}
            <tr>
                <td>{{ adherent.id }}</td>
                <th>{{ adherent.user }}</th>
                <th>{{ adherent.getNamePoste() }}</th>
                <th>{{ adherent.team }}</th>
                <td>
                    <a href="{{ path('app_adherent_show', {'id': adherent.id}) }}">Voir</a>
                    <a href="{{ path('app_adherent_edit', {'id': adherent.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adherent_new') }}">Créer un nouveau adherent</a>
{% endblock %}
