<!DOCTYPE html>


<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
         <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
         <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}

    </head>

    <body>
        <div class ="couleur">
        <div style ="text-align : center";>
        <a href="http://127.0.0.1:8000/home">
        <img src={{asset('imageSite/Noeljaune.jpg')}} alt=" TestFailed " width="300" height="300" align="center"/>
        </div>  
        <p> </p>
        <div class="topnav">
        <table id="customers2">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_home_admin') }}">Page d'administration  &nbsp; &nbsp;</a> 
        {% endif %}
       
        {% if app.user %}
            <a href="{{ path('app_user_show', {'id': app.user.id}) }}">Profil &nbsp; &nbsp;</a> 
          
            <a href="{{ path('app_logout') }}">Se déconnecter &nbsp; &nbsp;</a>
        {% else %}
            <a href="{{path('app_login')}}"> Se connecter &nbsp; &nbsp; </a>
           
            <a href="{{ path('app_register') }}">Création de compte &nbsp; &nbsp;</a>
        {% endif %} 
               </table>
               </div> 
        </div>     
        <table  style ="text-align : center"; id="customers" class="table">   
        
                <tr>
                    <th>    
                    <a  href="{{ path('app_home_index') }}">ACCUEIL</a>
                    </th>
                    <th >
                    <a  href ="{{path('app_team_index') }}">EQUIPE</a>
                    </th>
                    <th>
                    <a  href="{{ path('app_home_information') }}">INSCRIPTIONS</a>
                    </th>
                    <th>
                    <a  href="{{ path('app_home_newsletter') }}">NEWSLETTERS</a>
                    </th>
                    
                    <th>
                    <a  href="{{ path('app_contact_new') }}">NOUS CONTACTER</a>
                    </th>
                    
                    
                </tr>
            </table>
    </body>
{% if is_granted('ROLE_BLOQUER') %}
    <br><br><br><br><br><br><br>

    <h1> Vous n'avez pas accès car vous êtes bloqué </h1>
    <br><br><br><br><br><br><br>
{% else %}  
        {% block body %}{% endblock %}
{% endif %}  
    <footer id ="MyFooter">
    <table class="table" style ="text-align : center";>
    <tr style ="text-align : center";><th><FONT COLOR="fef200">Nos Partenaires institutionnels</FONT></th>
    <th><FONT COLOR="fef200">Nos Partenaires privés</FONT></th>
    <th><FONT COLOR="fef200">Affiliations</th></FONT></tr>
    

    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/joue-les-tours.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/brossard-traiteur.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/cd37.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/logo-touraine.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/clubeo.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/ffvb.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/region-centre.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/fondation-SNCF.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/Ligue-du-Centre.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/service-civique.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/Manpower.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/volley-assis.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/tours-metropole.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/solfab.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/Volley-sante.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/VB.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td></td>
    </tr>
    </table>
    </footer>
    <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height:60px;
 
}
#customers tr:hover {background-color: #fef200;}
#customers {background-color: #D3d3d3;}
#MyFooter {background-color:#0053a1;}
#customers th {
 height:20px;
}
a {text-decoration:none; }
th { font-size: large; }
td{font-size: large;
 font-weight : bold; }
.topnav {
        
        /*overflow: hidden;  */
        position: absolute;
        top: 0;
  right: 0;
        
        font-size: large;
        font-weight : bold;
        margin-right:2%;
        }
/*.topnav:hover {background-color: #add8e6;}*/

.alignement{
  float: left;
}

.alignement2{
  float: right;
}

.couleur {
    background-color : #0053a1;;
}
body, html {
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
    width:98%;
    height:98%;
}

</style>

</html>

