<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
         <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
         <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}

    </head>

    <body>

        <div style ="text-align : center";>
        <a href="http://127.0.0.1:8000/home">
        <img src={{asset('imageSite/ImageNoel.jpg')}} alt=" TestFailed " width="300" height="300" align="center"/>
        </div>  
        <p> </p>
        <div class="topnav">
        <table id="customers2">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_home_admin') }}">Page d'administration</a> 
        {% endif %}
        <p> </p>
        {% if app.user %}
            <a href="{{ path('app_user_show', {'id': app.user.id}) }}">Profil</a> 
            <p> </p>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        {% else %}
            <a href="{{path('app_login')}}"> Se connecter </a>
            <p> </p>
            <a href="{{ path('app_register') }}">Création de compte</a>
        {% endif %} 
               </table>
               </div> 
              
        <table  style ="text-align : center"; id="customers" class="table">   
        
                <tr>
                    <th>
                    <a  href="{{ path('app_home_index') }}">Accueil</a>
                    </th>
                    <th >
                    <a  href ="{{path('app_team_index') }}">Equipe</a>
                    </th>
                    <th >
                    <a  href="{{ path('app_home_information') }}">Information pour les inscriptions</a>
                    </th>
                    <th>
                    <a  href="{{ path('app_home_newsletter') }}">Newsletters</a>
                    </th>
                    
                    <th>
                    <a  href="{{ path('app_contact_new') }}">Nous contacter</a>
                    </th>
                    
                    
                </tr>
            </table>
           
           
             </body>
        
        {% block body %}{% endblock %}
   
    <footer id ="MyFooter">
    <table class="table" style ="text-align : center";>
    <tr style ="text-align : center";><th>Nos Partenaires institutionnels</th>
    <th>Nos Partenaires privés</th>
    <th>Affiliations</th></tr>

    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/joue-les-tours.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/brossard-traiteur.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/cd37.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/logo-touraine.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/clubeo.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/ffvb.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/region-centre.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/fondation-SNCF.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/Ligue-du-Centre.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/service-civique.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/Manpower.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/volley-assis.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td><img src={{asset('imageSite/Partenaires_institutionnels/tours-metropole.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/solfab.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td><img src={{asset('imageSite/Affiliations/Volley-sante.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    </tr>
    <tr>
    <td></td>
    <td><img src={{asset('imageSite/Partenaires_Privés/VB.jpg')}} alt=" TestFailed " width="250" height="82" hspace="10"   title="your text" /></td>
    <td></td>
    </tr>
    </table>
    </footer>
    <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height:80px;
 
}
#customers tr:hover {background-color: #add8e6;}
#customers {background-color: #D3d3d3;}
#MyFooter {background-color:#add8e6;}
#customers th {
 height:20px;
}
a {text-decoration:none; }
th { font-size: x-large; }
td{font-size: large;
 font-weight : bold; }
.topnav {
        
        /*overflow: hidden;  */
        position: absolute;
        top: 0;
        left: 0;
        background-color: #D3d3d3;
        font-size: large;
        font-weight : bold;
        }
.topnav:hover {background-color: #add8e6;}
.alignement{
  float: left;
}
.alignement2{
  float: right;
}
#alignement::after {
   content: "";
   display: block;
   clear: both;
}

</style>

</html>
