{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>


    {% if user.id == app.user.id or is_granted('ROLE_ADMIN') %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.imageName }}"width="200" height="200" />
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.dateDeNaissance ? user.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <th>Payment</th>
                <td>{{ user.payement}}</td>
            </tr>
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_user_index') }}">Retourner à la liste des Users</a>
    {% endif %}

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier votre profile</a>

    {{ include('user/_delete_form.html.twig') }}
    {% else %}
        <p> Vous n'avez pas accès à cette page, veuillez retourner à l'accueil </p>
    {% endif %}




{% endblock %}
